[2011-06-02 01:05] savichris opened #1 "support for multiple cards"
Looks like dev nodes are hardcoded to pcmC0D0... is there any consideration to support multiple cards? USB audio devices come to mind as an example because I have had to support them in the past using the generic USB Audio driver.

[2011-06-02 01:17] #1 closed, assigned to nobody

[2012-07-30 12:20] apo72 opened #17 "pcm_get_latency not implemented"
service in available at API level(asoundlib.h) is not supported.

Should be something like that

unsigned int pcm_get_latency(struct pcm *pcm)
{
       unsigned int ret;
       signed long *latency;
       if(!pcm)
           return -1;
       if(ioctl(*(int *)pcm, SNDRV_PCM_IOCTL_DELAY, latency)) {
          return -1;
       }
       else
          return ((unsigned int) latency);
       }
}

[2013-01-24 15:03] ceskobassman opened #24 "tinycap: Use buffer size in bytes instead of frames"
Hi,
i'm looking at tinycap.c.
When you calculate the buffer size you get it in frames with `pcm_get_buffer_size(pcm);`, but then this size is used to call `pcm_read()` that needs bytes.
I was wondering if it is what you really want to do or if you should convert buffer size to bytes with `pcm_frames_to_bytes(pcm, pcm_get_buffer_size(pcm));` as in tinyplay.c.

Thanks,
Francesco

[2013-04-30 20:53] #24 closed, assigned to nobody

[2013-06-12 07:22] navlrac opened #29 "Incorrect error handling in pcm_sync_ptr"
Errors in pcm_sync_ptr() arn't correctly handled.

Fix:

[code]

[2014-07-04 02:32] psyke83 opened #43 "tinymix/tinyalsa is not sending second mixer value correctly"
Hi,

I'm writing an Android audio driver that uses ALSA/tinymix: https://github.com/androidarmv6/android_device_samsung_bcm21553-common/tree/cm-11.0/audio

In order to control routing on this device, I need to modify this mixer control that contains two values: https://gist.github.com/psyke83/a6ca133e023d966c273b#file-gistfile1-txt-L14

The first value is an enable/disable flag (0/1), and the seco

[2014-07-06 23:23] #43 closed, assigned to nobody

[2014-07-21 06:55] kangear opened #45 "Build fail:tinyalsa/pcm.c:206:10: error: 'PCM_FORMAT_S8' undeclared (first use in this function)"
Androlid4.2.2
build faill:
tinyalsa/pcm.c:206:10: error: 'PCM_FORMAT_S8' undeclared (first use in this function)

[2014-07-25 07:34] #45 closed, assigned to nobody

[2014-07-28 08:23] System25 opened #46 "Bug in mixer_ctl_set_value"
Hi, there is a bug in "mixer_ctl_set_value". I discovered it when I tryed to set with "tinymix" a value to 0 = off. But the value was always 1 = On.

.. code ..
if (value > mixer_ctl_get_range_max(ctl))
        value = mixer_ctl_get_range_max(ctl);
..code..

If "mixer_ctl_get_range_max" returns -22 (EINVAL) then the code set the "value" to "-22".
So, when there is a "boolean" control type, it will

[2015-02-11 11:25] mohitchauhan opened #55 "tinyplay error unable to open pcm device"
Hi, I am getting this error open("/dev/snd/pcmC0D0p", O_RDONLY)     = -1 EINVAL (Invalid argument)
while using tinyplay on android device samsung galaxy s4 mini, sound card is msm8230-tapan-snd-card.
I am passing input file by matching its configuration with sound card file proc/asound/card0/pcm0p/sub0/hwparam
please tell me reason for this error

[2015-02-12 23:34] tinyalsa commented on #55
Could you send me the exact command line you are using to play the file?

tinyplay opens the wav file O_RDONLY but the playback PCM (pcmC0D0p) should
be opened O_RDWR.

Have you checked the kernel log (dmesg)?

Are you using tinyalsa built from github, or the default one included with
the phone?

On 11 February 2015 at 03:25, Mohit Chauhan <notifications@github.com>
wrote:

[2015-02-13 04:29] mohitchauhan commented on #55
Hi Simon, Thanks for your reply on this, we solved this issue by setting mixer first.Now its working with the default one included with the phone.

[2015-02-13 04:29] #55 closed

[2015-02-28 05:01] kangear commented on #45
ah, two steps:
1. `mv external/tinyalsa external/tinyalsa_bak`
2. `git clone git@github.com:tinyalsa/tinyalsa.git external/tinyalsa`
then `mmm external/tinyalsa` can build latest version tinyalsa.(path is important!)

[2015-09-20 12:03] filaton commented on #46
@tinyalsa Should this issue not be closed? I guess it's fixed by the `switch` [line 415 in `mixer.c`](https://github.com/tinyalsa/tinyalsa/blob/master/mixer.c#L415).

[2015-10-22 22:28] tholberton opened #66 "Removal of the Config Structure"
I would like to know if the `pcm_config` structure could be replaced with the standard `hw_params` and `sw_params` structures, like how the original asound library is written.

Or perhaps leave the `pcm_config` object, but as something like this:

[code]

This would make more sense to me, and I would be willing to write the code and submit the pull request.

[2016-01-22 16:39] ghost opened #71 "mixer: int_to_percent() doesn't work"
Hi there,
here is a snippet what [that](https://github.com/tinyalsa/tinyalsa/blob/899cecebd15a7d08781d5f9362ec4bd7cc8863da/mixer.c#L278-L286) function do:

[code]

it will print 0 (should be 3).
To fix it you can simply cast `i` to double, float:
`n = (((double)i - 0) / 31) * 100;`

or change to something like this:
`n = (i - 0) * 100 / 31;`

[2016-04-21 10:36] System25 opened #75 "tinyplay can't play 24 bits WAV files"
Hi, when you try to play a 24 bits WAV file with tinyplay, it shows an error that says:
 Bitrate is 24 bits, device only supports >= 32 bits

Tracing this problem, I found this happens in:
  check_param(params, PCM_PARAM_SAMPLE_BITS, bits, "Bitrate", " bits");

So, I traced the problem in my Linux kernel, and I think I've found the problem. It seems that 24 bit samples are 32 bits physically. You

[2016-05-20 13:20] shiftleftplusone opened #78 "how to install?"
hello,
there is no discription how to install from a Raspi!
sudo apt-get...?
git clone...?
make...?
make install...?

[2016-05-20 14:14] tinyalsa commented on #78
tinyalsa is not currently available by Debian/Ubuntu apt, you'll need to do
a git clone and make.

Let me know if you need help.

On 20 May 2016 at 07:20, shiftleftplusone <notifications@github.com> wrote:

[2016-06-21 02:35] tholberton commented on #46
@nonatomiclabs Agreed. Looks like the patch from #40.

[2016-06-21 02:35] #46 closed

[2016-08-03 14:18] tholberton commented on #78
@shiftleftplusone This issue is fixed. You can install the project the way you do with most makefiles.
[code]

[2016-08-03 14:18] #78 closed

[2016-08-07 09:04] shiftleftplusone commented on #78
thank you!

[2016-09-16 12:27] tholberton commented on #17
Closing this issue, it was fixed by 9ecb93fb a couple of years ago (see `pcm_get_delay`).

[2016-09-16 12:28] #17 closed

[2016-10-10 12:44] hardiksingh-rathore opened #81 "Use tinyalsa to play two audio devices simultaneously with same audio file"
Hi,

I want to use tinyplay with two different device  HDMI tv and audio jack for custom board.
Is it possible to play a video file for  HDMI tv and  audio (from this same video file) with audio jack  ?
(Audio from headphone jack should be synchronous with HDMI video.)

[2016-10-11 16:26] tinyalsa commented on #81
Hi, this is dependent on the hardware in question.

Some audio chips support output to multiple different audio sinks (like
headphones, speakers and HDMI) by just adjusting mixer settings. Some
require the audio stream to be sent to many different PCM devices.

tinyplay currently only supports output to a single PCM device. However, it
would be straightforward to modify it to play to multiple PCM

[2016-11-07 21:59] BradWalker opened #83 "tinymix shouldn't always print the paths"
I work on platforms based on the Qualcomm SnapDragon chip. There can be hundreds of paths on the audio side of this chip.

There was a recent change whereby tinymix will ALWAYS prints the routes/paths for the different ports on ALSA. I consider this to be a regression. It really should only be printed if asked.

In addition, I've modified tinymix to more closely conform to the following:
https://w

[2016-11-07 23:35] tholberton commented on #83
@BradWalker I agree with the use of `getopt` and the standard options you added. You need to open a pull request so I can merge them.

[2016-11-07 23:45] BradWalker commented on #83
Submitting..

Thanks for the help with this!!

[2016-11-10 20:20] #83 closed

[2016-11-22 17:56] tholberton commented on #29
@navlrac thanks for pointing that out. I fixed this in 72e442233b4f1306f9f1477762fd2ee0bf116c35, so I'm closing the issue.

[2016-11-22 17:56] #29 closed

[2016-11-22 17:57] tholberton commented on #66
Closing this issue, won't be changing the members of the config structure.

[2016-11-22 17:57] #66 closed

[2017-03-17 03:09] #81 closed

[2017-03-17 03:10] tay10r commented on #75
Closing this issue, tinyplay has been updated since.

[2017-03-17 03:10] #75 closed

[2017-07-05 07:28] FeeiSZ opened #99 "Tinyalsa open failed when a abnormal close"
There is something wrong with TINYALSA based program. We can not shut down TINYALSA on ours  initiative in both case ,first ,stop the program using the task manager，second，exit the program without a response.therefore ,after restart the program，we failed to open PCM succesfully.We wonder if there are some problems with OCCI.Do you have any suggestions about this problems?

[2017-07-05 13:42] tay10r commented on #99
What error message are you getting? What made you narrow your problem down to TinyALSA?

[2017-07-05 14:53] FeeiSZ commented on #99
My functions as follow:
/*
 * start recorder
 */
wtk_tinyalsa_record_t* wtk_tinyalsa_record_start(void *h,char *dev,int sample_rate,int channel,int buf_time)
{
	wtk_tinyalsa_record_t* r=0;
	int card;
	int ret=-1;

	r = calloc(1, sizeof(*r));
	if (!r) {goto end;}
	/*
	 * set params
	 */
	r->config.channels = channel;
	r->config.rate = sample_rate;
	r->config.period_size = buf_time*sample_rate/1000;

[2017-07-05 19:47] tay10r commented on #99
I'll take a closer look later today and see if I notice anything. Is it possible to build your code with debug symbols and run it under [valgrind](http://valgrind.org/)? If you can do that and show the output, it would be helpful.

[2017-07-06 01:28] FeeiSZ commented on #99
Thanks for your help.My program runs on android by JNI .And the Error is occured when the Android Program is  exited by accident,so, the Func [wtk_tinyalsa_record_stop] will not be called. I think the point is Tinyalsa  is not normally close .  And at this time .I  plug out and plug in the USB Audio equipment,the program will run successful.
   I,m sorry for my poor english.

[2017-07-06 01:34] tay10r commented on #99
No worries about the English! I wish I knew more languages than just one!

Are you saying that TinyALSA was not the cause of your problem?

[2017-07-06 01:41] FeeiSZ commented on #99
yeah,the Program is runing regularly if the Android Program not Exited abnormal.

[2017-07-06 01:45] FeeiSZ commented on #99
And the Problem is happened when luanch the Andoird program again after accident exit.

[2017-07-06 01:48] tay10r commented on #99
Okay. It sounds like this is not a TinyALSA problem, so I'm closing the issue.

[2017-07-06 01:53] FeeiSZ commented on #99
@tay10r thank you.

[2017-07-13 05:24] sjfricke opened #100 "Adding an audio sample for examples"
As is the pcm-readi.c example just seg faults since there isn't anything to read in. I understand the idea of just showing the example, but thoughts of me adding a small demo wav file so it's working right off the back.

Also there are a few sample audio tracks in `/usr/share/sounds/alsa` already

[2017-07-13 05:28] tay10r commented on #100
I like the idea of adding a sample audio track.

I'm not quite sure if the sounds you mentioned depend on a standard ALSA package being installed. If they do, I'd prefer to include one or two (as needed) directly in the repository.

I'll take a look into why they're seg faulting.

[2017-07-13 05:29] sjfricke commented on #100
Sounds good, I was assuming we add it to the repo so its there no matter what and it won't add to much weight the repo overall size

[2017-07-13 05:32] tay10r commented on #100
@sjfricke agreed. I believe SoX does the same.

[2017-07-13 05:35] sjfricke commented on #100
Also I think it is seg faulting since I don't have any valid PCM in according to `tinypcminfo`

[2017-07-13 05:42] tay10r commented on #100
I'll take a look at the seg fault. Do you have a short clip you could add as an example?

[2017-07-13 18:29] tay10r commented on #100
Fixed the segmentation fault in commit 1a12af92a71dbad28e08ba3d0ee0e040331835b8 in the development branch. It'll merge with the master branch in the next release.

[2017-07-14 06:22] sjfricke commented on #75
I just ran into this exact issue trying to play a 32 bit file and it fails [here](https://github.com/tinyalsa/tinyalsa/blob/master/src/pcm.c#L381-L385) and not sure what was updated when this was closed

[2017-07-14 18:59] tay10r commented on #75
@sjfricke please open an issue for that. If it's failing at the point you indicated, I also need to see what the output of `tinypcminfo` is that you're using and what the parameters are that you're using in the code that's breaking.

[2017-07-29 14:53] orbea opened #102 "tinypcminfo freezes"
When I run `tinypcminfo` built from the latest git master (34ffa583936aeb6938636c9c0a26a322b69b0d26) it hangs after `PCM out:`.
[code]
[code]
Recently the program RetroArch allowed the use of a tinyalsa driver and similarly it will freeze when started using tinyalsa. It seems to be connected to the working on board audio device provided my by motherboard.
[code]
[code]
[code]
[code]
OS: `Slackware

[2017-07-29 18:07] orbea commented on #102
This was fixed in RetroArch in the above PR, I guess I can submit a PR later if the original author does not do so.

[2017-07-29 18:28] tay10r commented on #102
Which PR? I don't think this is a TinyALSA issue. A PCM will usually block if another program has it open. Can you confirm that's not the issue?

[2017-07-29 18:34] orbea commented on #102
The one I referenced.  https://github.com/libretro/RetroArch/pull/5226
Yes, you're right... If I have music paused in deadbeef it will freeze tinyalsa and any application using it. With the change applied to tinyalsa.c in RetroArch it will fail gracefully instead.

I guess this leads to the next problem, that tinyalsa should be able to handle more than one source of audio.

[2017-07-29 19:24] tay10r commented on #102
In my understanding, and I could be wrong, the reason alsa-lib can do this is because it can open plugins, via Pulse, that manage ownership of the actual PCMs. I'll see if there's a way to do this in TinyALSA, I don't know right off the top of my head.

[2017-07-29 19:28] orbea commented on #102
Unfortunately I do not know how it works, but alsa can do this on my system without issue even when pulse is explicitly not installed. I have no problem playing music with aplay, deadbeef, watching a movie and playing a game at once. It has always worked as far as I can remember. I understand even oss fixed this issue.

[2017-08-20 00:06] tay10r commented on #102
I added the non-blocking option in commit a69b3a5eee35e69e675678fe9e069ad8689011be. It's currently in the development branch and will be merged before the next release (and when the library and utilities are stable again).

[2017-08-22 14:25] orbea commented on #102
Thank you. The freeze was unexpected and made it much harder to figure out what was wrong. Once the freeze was worked around it was much more obvious that the problem was more than one source of audio.

[2017-08-28 09:37] Taejun-Kwon opened #103 "Question about license."
Hello.
I have question about tinyalsa.
Actually tinyalsa using BSD license, but it use some structurs and constant values in ALSA.
I checked ALSA's license but it is LGPL.
As I know even if anything uses constant value in spechfic file which is under the GPL, it can not apply BSD.
If I fork tinyalsa and modify something to do not use ALSA, can I keep BSD license??
Could you please let me know it?

[2017-10-13 00:16] tay10r commented on #103
I'm not quite sure what you're asking. If you fork TinyALSA, you have to keep the license it's under currently - which is BSD.

[2017-10-13 00:16] #103 closed

[2017-10-13 00:33] tay10r commented on #102
093b878 is in the master branch now.

[2017-10-13 00:33] #102 closed

[2017-10-13 00:37] tay10r commented on #100
Segmentation fault was fixed in f40bda8.

[2017-10-13 00:37] #100 closed

[2017-11-07 02:15] gxx9203 opened #105 "Bug:tinyplay.c"
In cmd_parse_arg of tinyplay.c

where
[code]
should be
[code]
"-p" is repeat to  --peroid-size.

[2018-01-31 06:32] SpaceboyRoss01 opened #109 "Segment Fault"
I've just added tinyalsa to my Linux distro (BlueSkyOS, Version 0.2.0-beta) and I tried to run tinypcminfo but I got a Segment Fault. I've run dmesg and I found out this:
[code]
I'm using musl for libc if that helps at all, and I have tested all the tinyalsa commands but they don't work.

[2018-01-31 13:15] tay10r commented on #109
Well it looks like there's a jump being made into 0x01 for some reason. Can you provide a download link to a disk image that I can test this on?

[2018-01-31 15:01] SpaceboyRoss01 commented on #109
https://github.com/Ross-Software/BlueSkyOS/releases/download/v0.2.0-beta/x86-64.iso

[2018-01-31 15:48] tay10r commented on #109
Okay great. I'll take a look at it later today

[2018-01-31 15:48] SpaceboyRoss01 commented on #109
The default password for root is blueskyos

[2018-01-31 15:50] tay10r commented on #109
okay, thanks.

[2018-01-31 22:52] tay10r commented on #109
As you may have found out, I was not able to start your operating system in QEMU. I'll need to do this so I can reproduce the issue. I'll revisit this when I can run your operating system.

[2018-01-31 23:33] tay10r commented on #109
I don't think this is a problem with tinyalsa.

It looks like all the programs you have in `/usr/bin` that aren't symbolic links will segfault when you try to run them. I looked at the symbol table and found a lot of glibc references. Are you sure you compiled these programs to utilize musl? I would also advise getting tools like valgrind, binutils, and strace into your system, at least in the dev

[2018-01-31 23:33] #109 closed

[2018-03-05 09:10] FeeiSZ opened #110 "pcm_read blocking"
Hi,tay10r
  My program have a A few seconds  blocking (Read buf time is 20ms) when "pcm_read" first called. And subsequent call run normally.
  what might be the cause of this BUG?

[2018-03-05 11:07] tay10r commented on #110
I haven't heard of that happening before. Can you send a minimal example that reproduces the bug?

[2018-05-08 23:59] tay10r opened #113 "Examples for Playback"
It would be nice to have example audio files used for testing playback with `tinyplay`. Ideally, there would be a web resource to get the files from so that they're not downloaded with the git repository (not everyone will want them.) But if they're small enough, that will be okay.

The examples should be of multiple different channel maps and sample types. That way, we can ensure the likely hood

[2018-07-11 00:20] pkalebu opened #114 "How to route audio through digital microphone using tinymix"
What exact modules should be set through tinymix to correctly capture input from an external digital microphone?

[2018-07-11 00:32] tay10r commented on #114
What modules are you taking about exactly? The `tinymix` program accesses and modifies mixer controls. The program you'd use to capture input from a microphone would be `tinycap`. Specifying the microphone to record from usually involves specifying the card and device number, assuming the microphone is not the default input for the system.

[2018-07-11 00:51] pkalebu commented on #114
Got it. By modules I mean mixer controls. I am unsure which ones to modify and how exactly to modify them. Is there a reference for how to know which controls to modify?

[2018-07-11 00:55] tay10r commented on #114
Not to my knowledge. I believe most of the controls are named by the vendors (but I could be wrong), therefore there's not much standardization about it. Most of the controls that `tinymix` is able to modify, you can also modify in some other GUI program, if that makes it easier.

I guess in your case, make sure your microphone isn't muted and that the volume is up to a normal level. You should be

[2018-07-11 01:32] pkalebu commented on #114
Makes sense, thank you!

[2018-07-11 01:36] tay10r commented on #114
I'm closing the issue but feel free to raise another issue if you have a problem with one of the programs (or the API.)

[2018-07-11 01:36] #114 closed

[2018-07-27 22:05] DevRonin opened #116 "How to build for Android?"
How to build for Android?

[2018-08-02 14:35] tay10r commented on #116
The most straightforward way is to use the Android build system. Android has its own TinyALSA repository that hasn't pulled from this one in some time.

You can find it at https://android.googlesource.com/platform/external/tinyalsa/

[2018-08-18 20:07] DevRonin commented on #116
I manage to build using lineageos build instruction (some changes in order to compile tinycap and tinymix, by default only tinyplay binary is included)
Lineageos is  using this repo:
https://github.com/LineageOS/android_external_tinyalsa
Seem to be a older version, what will be the drawbacks?

Any documentation on how to use tinymix ?

[2018-08-18 20:14] tay10r commented on #116
Yes, there's a manual page for tinymix.

[code]

The only drawback is that there are missing features (and probably PCM formats) to using the older version. I'm also pretty sure that there are no manual pages in the older version. The interface of `tinymix` is quite different in the older versions of TinyALSA. This version is based on the `amixer` utility.

[2018-09-14 12:35] sajid15feb opened #117 "Voice Tx Mute :- input format fail"
Hi Team,

i was trying to call voice tx mute using tinymix command but its failing.

there is problem for input , check below

nora_8917:/ $ su -c tinymix 2 1,1,1
Error: invalid value
22|nora_8917:/ $ su -c tinymix 2 0.1,1.1,2.1
Error: invalid value
22|nora_8917:/ $ su -c tinymix 2 0:1
Error: invalid value
22|nora_8917:/ $ su -c tinymix 2 [1,1,1]
Error: only enum types can be set with strings
22|n

[2018-09-14 15:47] tay10r commented on #117
What's the output of `tinymix contents`

[2018-09-15 07:02] sajid15feb commented on #117
Following output of tinymix

22|nora_8917:/data/local/tmp # tinymix -a
Mixer name: 'msm8952-snd-card'
Number of controls: 1597
ctl     type    num     name                                     value
        range/values
0       INT     3       Voice Rx Device Mute                     -1 -1 -1 (dsrange 0->-1)
1       INT     3       Voice Tx Device Mute                     -1 -1 -1 (dsrange 0->-1)
2

[2018-09-15 12:04] tay10r commented on #117
Oh wow, that's quite a lot of output. Thanks for the response, I'll check it out right now

[2018-09-15 12:32] tay10r commented on #117
It looks like you might be using Google's version of TinyALSA, which has since diverged from this one. In any case, try setting the values without commas or other symbols. For example:

`tinymix 2 1 1 1`

[2018-09-15 15:36] tay10r commented on #117
Try using `tinymix` from this repository. It seems like you're using a different version of TinyALSA than this one.

[2018-09-17 08:52] sajid15feb commented on #117
can you provide released tinymix file?

[2018-09-17 10:15] sajid15feb opened #118 "'__bitwise' macro redefined [-Wmacro-redefined]"
Hi ,

I am trying to build project using android studio but its giving me error

**'__bitwise' macro redefined [-Wmacro-redefined]**

Please check below logs for same

org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:externalNativeBuildDebug'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:100)
	at o

[2018-09-18 00:07] tay10r commented on #118
So from the looks of it, you're building with Android Studio on Windows. I don't have Android Studio installed, so it may take me a bit to reproduce this error and fix it.

[2018-09-18 00:13] tay10r commented on #117
For what instruction set? x86_64, arch64, or something else?

[2018-09-19 10:29] sajid15feb commented on #117
its armeabi ,

![screenshot-1537352592910](https://user-images.githubusercontent.com/3103247/45747696-435fda80-bc24-11e8-98b6-0c1162ceed51.jpg)

![screenshot-1537352603280](https://user-images.githubusercontent.com/3103247/45747697-435fda80-bc24-11e8-9629-e0b5a7bcf8ce.jpg)

Full device info : -

DEVICE
Model: moto e5 (nora_row)
Manufacturer: motorola
Baseband Version: M8917_06.10.05.43R NORA_INDIA

[2018-09-24 06:49] sajid15feb commented on #117
any one plse drop tinymix for armeabi device?

[2018-09-25 22:15] tay10r commented on #117
@sajid15feb you can give this a shot.

[tinyalsa.tar.gz](https://github.com/tinyalsa/tinyalsa/files/2417272/tinyalsa.tar.gz)

It's got the entire project in there with prebuilt binaries for `arm-linux-gnueabi`.
I'm not sure if your C library is compatible or not on your target platform, but `tinymix` is statically linked so it should still work.

[2018-10-01 10:06] sajid15feb commented on #117
i tried again with provided tinymix command, but still failing below command :

[code]
can some one provide me right way to apply values to control 2 ?

[2018-10-04 15:12] tay10r commented on #117
It looks like you aren't using the tinymix I provided in the file I uploaded.

[2018-10-29 12:29] sajid-verveba opened #119 "Android 5.0 and later only support position-independent executables(-fPIE)"
i have genrated exutables using tinyalsa release 1.1.1 with command ndk-build inside jni folder.
I have copied tinymix in /data/local/tmp, also set chmod 777 to tinymix file.

After running tinymix command on device i got following errror:

`"/data/local/tmp/tinymix": error: Android 5.0 and later only support position-independent executables (-fPIE).`

[2018-10-29 13:30] tay10r commented on #119
Does it help adding `LDFLAGS += -fpir` to `utils/Makefile`?

[2018-10-30 16:19] tay10r commented on #119
Alright, thanks for that info. I added those flags to the compiler flags and linker flags. If you pull the latest changes, you should be able to give it a shot.

[2018-11-18 00:40] tay10r commented on #119
@sajid-verveba Did this fix your issue?

[2018-11-18 00:40] #116 closed

[2018-11-18 00:42] tay10r commented on #117
@sajid15feb are you still having issues with this?

[2018-11-28 16:48] tay10r commented on #118
@sajid15feb This should be fixed with recent commits. I tested compiling on Android with clang. Let me know if it is fixed for you. I'll leave this issue open for a bit so you have time to check.

[2018-11-28 16:58] tay10r commented on #119
I verified that the executables run now using termux and clang. You can  open another issue if the problem persists.

[2018-11-28 16:58] #119 closed

[2018-11-28 17:00] tay10r commented on #110
@FeeiSZ I'm closing this issue since you aren't responding. Open this issue again if you can show me how to reproduce this problem of yours.

[2018-11-28 17:00] #110 closed

[2018-12-17 14:38] tay10r opened #122 "More PCM Formats"
Currently, the PCM formats that are supported are mostly the signed integer ones.

The rest of the PCM formats from `sound/asound.h` should be supported.

See the definitions [here](https://github.com/torvalds/linux/blob/7566ec393f4161572ba6f11ad5171fd5d59b0fbd/include/uapi/sound/asound.h#L191).

[2018-12-17 14:45] tay10r opened #123 "Easier Version Specification"
Currently, the version is specified in:

 - `src/Makefile`
 - `debian/changelog`
 - `include/tinyalsa/version.h`

When a new release is made, the risk is present of one of these files not getting updated. There should be an easier way of ensuring that all the versions get updated correctly. Perhaps a script to search and replace the version numbers in the specified files.

For example a script, `s

[2019-01-15 13:07] MolchanovDmitry commented on #99
@FeeiSZ Hello. Did you solve the issue? I have the same problem:
ioctl(pcm->fd, SNDRV_PCM_IOCTL_HW_PARAMS, &params)
 returns 5 instead of 0 after incorrect pcm closing.

[2019-01-16 01:19] pasqualirb commented on #99
@MolchanovDmitry Are you sure the `HW_PARAMS` `ioctl()` system call return positive `5`? If yes, what is the version of Linux kernel that this behavior occurs?

Can you describe better the "incorrect pcm closing"? Does `close()` system call return an error or it's the application exiting without calling `close()`?

Notice that I'm not talking about the TinyALSA wrappers/functions like `pcm_open()`

[2019-01-16 09:36] MolchanovDmitry commented on #99
@pasqualirb Thanks for your answer.
Yes, I'm sure, because I'd took this value from the logs.  Linux kernel: 3.14.29(Android 7.1.2).

So, what I do. I'm using forсe close of my application from the android studio. Application closes, but it doesn't executes pcm_close(). After that, I can't read anything from pcm, until I restart Android system.

Sorry, but i have a little misunderstanding - you sa

[2019-01-18 03:06] pasqualirb commented on #99
Cc: @tiwai

The `HW_PARAMS` `ioctl()` returning `5` is rather awkward. I've visited [the code](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/sound/core/pcm_native.c?h=v3.14.29#n380) for version 3.14.29 and it does not return positive values (`PTR_ERR()` is no exception). Also, the `ioctl()` system call [does not seem](https://git.kernel.org/pub/scm/linux/kernel/git/stable/l

[2019-01-18 14:17] pasqualirb commented on #99
@MolchanovDmitry In addition to the above, can you post the output of `dmesg | tail` just after the issue?

[2019-01-19 03:52] tay10r commented on #99
@pasqualirb Thanks for helping out with this.

@MolchanovDmitry I'll reopen this until this gets figured out.

[2019-01-21 12:06] MolchanovDmitry commented on #99
Oh, I'm sorry, your are right, ioctl() returns -1.

version.h contains #define TINYALSA_VERSION_STRING "1.1.1", is this the version you asking for?

Usually, I have no problems with opening pcm, but I'll get that issue if some system error crashs my application, and in consequence of this, it wouldn't call pcm_close().

p212:/ # cat /proc/asound/card1/pcm0c/sub0/hw_params
closed
p212:/ # cat /proc

[2019-01-23 20:42] pasqualirb commented on #99
Ok, this is `EIO` (5) as your code exposed. After some search, it seems that the only place in the `HW_PARAMS` `ioctl()` execution that may return `EIO` is the `hw_params()` driver callback, called by `snd_pcm_hw_params()`, `sound/core/pcm_native.c`. Notice I was wrong when I said `EIO` is not returned by `snd_pcm_hw_params()`. This is likely to be a driver issue. E.g. the USB driver may return `E

[2019-02-01 15:59] at-vol commented on #71
Why closed? Still doesn't work.

[2019-02-01 16:34] tay10r commented on #71
I'll look into it. I didn't close it but I'll see what's going on.

[2019-02-07 09:18] MolchanovDmitry commented on #99
p212:/ # cat /proc/asound/modules
    tmp-mksh: cat: /proc/asound/modules: No such file or directory

Your are quite right. I'm using usb. Sorry, I had to start from this.

Thank you very much for the tips. I solved it this way:

    echo usb1 > /sys/bus/usb/drivers/usb/unbind
    echo usb1 > /sys/bus/usb/drivers/usb/bind

[2019-02-08 18:22] pasqualirb commented on #99
This issue seems to be related/similar to:

- USB: Not enough bandwidth for new device state <https://bugzilla.redhat.com/show_bug.cgi?id=1411604>

- xhci: Not enough bandwidth for new device state <https://lkml.org/lkml/2018/2/28/1244>

- external USB-Speaker and "Not enough bandwidth for altsetting 1" <https://www.spinics.net/lists/linux-usb/msg128181.html>

- (different from the above) external

[2019-03-06 15:17] yashrk opened #127 "tinyalsa hangs opening sound device at Ubuntu 18.10"
Ubuntu 18.10. `aplay` (and all ALSA applications) works o'k.

But any tinyalsa application (including `tinyplay`) hangs at opening sound device.

Here is `strace` log:
[code]
I tried to build fresh tinyalsa from source with `make; sudo make install` and also to rebuild debian package from Launchpad (unfortunately there is no package for Ubuntu 18.10 on Launchpad). The result is the same.

[2019-03-06 15:51] tay10r commented on #127
Is there any other program using the PCM? Are all other instances of `tinyplay` killed? When another application opens a PCM, it will cause the newer application to block.

[2019-03-06 16:02] yashrk commented on #127
Yes, `lsof /dev/snd/pcmC0D0p` shows my PulseAudio daemon ignores «no autospawn» option, it's not a tinyalsa issue at all. Sorry, the problem solved.

[2019-03-06 16:02] #127 closed

[2019-04-07 20:24] alexonea commented on #123
Are both cmake and plain makefiles used? Are there plans to continue only with one of them?

I was thinking of specifying the version in the main ```Makefile``` / ```CMakeLists.txt``` and generating the ```version.h``` header based on that. At the end of the build, maybe a check can be added in certain cases (e.g. for release builds) and display a warning in case ```debian/changelog``` stayed behi

[2019-04-07 21:21] tay10r commented on #123
@alexonea What about a program like [bumpversion](https://github.com/peritus/bumpversion)?

I agree with the `debian/changelog` warning, that would be helpful.

[2019-04-09 22:54] alexonea commented on #123
@tay10r I created a draft pull request. I am not sure about using a 3rd party script like [bumpversion](https://github.com/peritus/bumpversion) or writing our own. I already implemented a simple version "management" script capable of doing all we need, but I feel that we are not reusing as much as we could. On the other hand, do we care about an extra dependency?

I detailed in the draft a proposa

[2019-04-11 23:23] #71 closed

[2019-04-14 03:14] #123 closed

[2019-04-14 03:23] tay10r commented on #99
@pasqualirb It seems that this isn't a TinyALSA issue. I'll leave this open for a bit longer but I plan on closing it.

[2019-04-14 14:04] pasqualirb commented on #99
Definitely it's not a TinyALSA issue. I agree in leaving this open for a while. Some developer may find this and come up with a solution to the real issue if it hasn't been done.

[2019-05-18 05:53] schmidh opened #133 "Clarification regarding Usage on Android"
Hi Taylor,

sorry for asking some very basic questions regarding tinyalsa. I'm not having real issues with the software, just need to know the applicability of it on Android:

Is it possible to use tinyalsa for capturing any audio on Android devices? A typical use case would be an audio visualizer. What would be the prerequsites? Is rooting the device necessary?

Very kind regards,
Hans-J.

[2019-05-21 01:46] tay10r commented on #133
Hey! I have no problem answering questions on the project. Sorry for the delayed response, I could've sworn that I responded to this.

**It is possible to use tinyalsa for capturing any audio on Android devices?**

Yes, it's already used by Android to do this. TinyALSA is not normally used by end-point applications to record audio, it's primarily used by the Android operating system. Applications

[2019-05-21 01:48] schmidh commented on #133
Yes, this helps me a lot. Thank you very much for your detailed information!

[2019-05-21 01:48] #133 closed

[2019-09-03 21:58] gajare-codeaurora opened #135 "Proposal for extending tinyalsa to support plugins"
Current tinyalsa supports only interfacing directly with the ALSA kernel interface. Proposal is to add support for tinyalsa plugins for below reasons:
• Allow custom implementation of PCM and mixer modules in userspace
• Plugins can perform data processing (ex: noise suppression, etc)
• Plugins can enable software enhancements (ex: channel mixer, rate convertors, etc)
• Can extend hardware capabil

[2019-09-11 06:22] liaoqingmo opened #138 "tinyplay error fail to open pcm device"
When I porting tinyalsa(version 1.1.1) to openwrt(using uclibc for libc),run tinyplay,it occurred that:
[code]
run tinycap,it go wrong:fail to open PCM device too.
[code]
It seems that there is an error while calling 'ioctl'  function to set hw_params.
But It's no problem to play wav format music with 'aplay',and play format mp3 music with 'madplay '
My sound card listed below.
[code]
I can't find

[2019-09-16 00:44] pasqualirb commented on #138
Hi @liaoqingmo .

`tinyplay` probably failed because of the same error as `tinycap`. One or more invalid parameters were passed to ALSA (22 is EINVAL).

`tinyplay` uses `rate`, `channels` and `bits per sample` from `.wav` file when setting up the device.

`tinycap` captures by [default](https://github.com/tinyalsa/tinyalsa/blob/1.1.1/utils/tinycap.c#L79) at 48000Hz (rate), 2 channels, 16 bits per

[2019-09-16 01:57] tay10r commented on #138
Agreed. @liaoqingmo try using `tinypcminfo` to see what hardware parameters you can pass to `tinycap` and `tinyplay`

[2019-09-16 08:53] dex7erhan opened #139 "useage for tinymix？"
#tinymix
Mixer name: 'sdm660-snd-card-mtp'
Number of controls: 2288
ctl	type	num	name                                     value
0	INT	3	Voice Rx Device Mute                     -1 -1 -1
3	INT	3	Voice Rx Gain                            -1 -1 -1
4	ENUM	1	TTY Mode                                 OFF
5	INT	2	Slowtalk Enable                          -1 -1
9	BOOL	1	Voice Sidetone Enable

[2019-09-18 14:38] tay10r commented on #139
What is the output of `tinymix --version`? Google has an outdated version of the project in their repositories, it's possible you're using that one.

[2019-09-18 14:46] tay10r commented on #135
Suppose that somebody wants to write their own virtual PCM or mixer library. They'd go about writing and generating a library, which we'll call `example-pcm.so`.

Do they have to edit a single config file to get their plugin recognized? This might make it somewhat difficult for a plugin to be automatically installed through a script.

Or is it a directory in which config files go into, such as `/p

[2019-09-23 06:25] dex7erhan commented on #139
R11s:/ # tinymix -version
Invalid mixer control

...

[2019-10-17 10:53] golfbears opened #141 "How to mix two more stream to play by using tinyalsa"
Just like title, I want to add two more streams to mix together by using tinyalsa, may I and how can I implement? thanks a lot!

[2019-10-18 06:27] #141 closed

[2019-11-06 13:33] ducathen opened #142 "t.wav"

[2019-11-06 14:11] tay10r commented on #142
What's this all about?

[2019-11-06 14:17] ducathen commented on #142
Sorry please ignore - my web browser must have taken focus just as I was typing the commend line 'tinycap out.wav'
I wondered what happened to the end of the line.

[2019-11-06 14:18] #142 closed

[2019-12-06 13:52] tay10r commented on #99
@FeeiSZ @pasqualirb I'm closing this, I think it's been open long enough.

[2019-12-06 13:52] #99 closed

[2019-12-26 17:07] tay10r commented on #139
@dex7erhan Sorry for the delay! I thought I had responded to this. The `version` option was added three years ago, and it appears version of the program doesn't recognize it. It's very likely that you're using an outdated version of the project. There's not much I can do about that.

[2019-12-26 17:07] #139 closed

[2020-01-10 05:58] liaoqingmo commented on #138
@tay10r @pasqualirb Thanks for your reply.It works ok.Your suggestion solves the issue.

[2020-01-10 05:58] #138 closed

[2020-02-22 18:14] brunosmmm opened #145 "How to cross-compile properly?"
Hello, I want to cross-compile tinyalsa to an arm target, however compilation of anything but the library itself fails in my system due to implicit Makefile rules like these:
https://github.com/tinyalsa/tinyalsa/blob/5389c1f796ea153232a582bd28e73be43638a124/utils/Makefile#L22

On my system at least, make resolves the ```-ldl``` to my native architecture and I'll get something like:
[code]
I don't

[2020-02-22 18:26] tay10r commented on #145
Right, clearly this is a bug and you're suppose to be able to build the examples. I think this happens because GNU make tries to resolve dependencies that look like libraries itself, instead of relying on the compiler - a useful feature for project libraries but not so much system ones (in this case.)

I'll be happy to accept a PR to fix this. I think the probably way to handle this is to do somet

[2020-02-22 18:46] tay10r opened #146 "Adding Cross Compilation to CI Check"
As indicated by #145, there needs to be a check in CI that ensures the library and programs can be cross compiled.

[2020-02-22 20:26] brunosmmm commented on #145
I tested your proposed solution, seems to work great, so I made a pull request. Thanks

[2020-02-27 12:14] #145 closed

[2020-02-27 12:42] tay10r commented on #135
Closed by #137

[2020-02-27 12:42] #135 closed

[2020-04-21 03:14] muxi01 opened #152 "con't played the end of buff"
I met the problem,when i use tinyplay to play sine wav file, and test the line out.the end of wave was killed.

[2020-04-22 04:33] muxi01 commented on #152
thanks for your reply,The wav file generate by cool edit pro,use the feature of 'fate in'  to decorate wave head,and use 'fate out' to decorate wave tail.the whole wave has not a long content of silence.
copy of file follow this words,plaese downloading,then  rename sound9.wav.zip to sound9.wav
[sound9.wav.zip](https://github.com/tinyalsa/tinyalsa/files/4513785/sound9.wav.zip)
![P1](https://user-i

[2020-04-22 05:12] tay10r commented on #152
I was able to successfully play this file, but I had to convert the tile to use 2 channels first. Maybe that's your issue? You can give it a shot using `sox`.

[code]

None of the utilities handle mono-to-stereo conversion, so that may be the issue. Let me know if converting to stereo fixes your problem.

[2020-04-22 09:56] muxi01 commented on #152
thanks very much for your seriously,Maybe its my mistake of cannot write clear.I used the same way as your,i can hear the sounds in the alsaplay playing.but i tested the wave of line out by oscilloscope. it captured wave on first picture, we could see the wave has not complete.
when i used cool Edit Pro to play, i can get a whole wave on the screen of oscilloscope(second picture).

![P_abnormal](h

[2020-04-22 12:34] tay10r commented on #152
I see what you're saying now. Let me spend some time and see if I can reproduce this somehow. I don't have an o-scope but I might be able to get some data with a VM or something.

[2020-04-23 01:52] muxi01 commented on #152
ok,thanks! good luck to you

[2020-04-23 14:58] Minecrell opened #154 "New tag/release?"
The last tag/release is from 3 years ago, there were many fixes and new features since then. Are there any plans to make a tag a new release? This would make packaging more easy in other distributions.

Thanks!

[2020-04-23 16:28] tay10r commented on #154
Hey! Yes the next release will be a new major version. There's a binary incompatible change due to the dl dependency and a change to the pcm format enumeration. Due to this, I'd like to investigate what other improvements I can make that don't require binary compatibility. I'll leave this open and give an update soon.

[2020-04-24 17:45] tay10r commented on #152
While I still haven't finished a script to test audio with, I did add a wait call to the end `tinyplay` which may fix the issue. Can you give it a test?

[2020-04-27 02:35] muxi01 commented on #152
i tried the same way as you,but it does not work,the newerst problem is up,that a little of sounds are repeat or generate by player.please look and see
![P2](https://user-images.githubusercontent.com/23053634/80328274-7000bd00-8871-11ea-9564-d09566f125cc.png)

modify contents  were these:

int play_sample(struct ctx *ctx)
{
    char *buffer;
    int size;
    int num_read,now;
    struct timeval c

[2020-04-29 15:03] tay10r commented on #152
Alrighty thanks for the update!

[2020-05-28 07:48] muxi01 commented on #152
maybe this issue is still exist,could you continue to solve it?
 that is noise occurred follow the end of playing.

[2020-06-23 10:36] jerryyyq opened #166 "How to capture playback sound use tinyalsa?"
I want capture playback sound on ubuntu and android.
I call pcm_open() and pcm_readi() and I try:
mixer_get_ctl_by_name(mixer, "Loopback Mixing");
mixer_ctl_set_enum_by_string(ctl, "Enabled");

But, allways record wav from MIC, not from playing sound.
How to do I can?
Thank you very much.

-------------- My sound card Device Info: ------------------------
[code]

[2020-06-24 11:55] tay10r commented on #166
Did you have a look at the PCM examples? A PCM is basically a mic input or a speaker output

[2020-06-26 09:10] jerryyyq commented on #166
Yes, I have looked these examples. but not find the right example.
I need function to implement read from speaker ( record from sound card, not from MIC. I want record placeback sound), do you understand？

[2020-06-26 13:00] tay10r commented on #166
I see what you mean now. Which operating system do you have?

[2020-06-28 02:21] jerryyyq commented on #166
please read my message carefully，My first sentence is : "I want capture playback sound on ubuntu and android."
My system is ubuntu 18.04 and android 9.0

[2020-06-28 03:00] tay10r commented on #166
@jerryyyq My apologies! I see. It's going to be different for both operating systems.

For Ubuntu, you'll need to use a loopback device. There's plenty of info on doing this from Google, so let me know if you have any issues with TinyALSA regarding that process.

For Android, you'll have to reference the SDK and figure out where you want to use it from there. I don't think the SDK exposes the Tiny

[2020-07-07 03:42] jerryyyq opened #167 "Is the tinyALSA has any hook function?"
Is the tinyALSA has any function can hook and capture device playback data?
Thanks.

[2020-07-07 03:50] tay10r commented on #166
I don't have an exact set of instructions I could give you to do it. This isn't really in the scope of the library.

[2020-07-07 03:52] tay10r commented on #167
There's no function that exists to do that. If you're talking about recording playback data from another process, then it isn't in the scope of this library to do that.

[2020-07-08 10:52] jerryyyq commented on #167
I don't think so.
Because ALSA have somd pcm_hook functions, why tinyALSA not support?

[2020-07-08 10:53] jerryyyq commented on #166
I don't think so.
Because ALSA have somd pcm_hook functions, why tinyALSA not support?

[2020-07-08 15:00] tay10r commented on #167
Unless you're talking about a simple function pointer in an output PCM, supporting PCM hook functions from alsa-lib requires handling their configuration files. The whole purpose of TinyALSA was to use the audio devices without having to support the whole asound.conf setup. I **think** you can still try to use loopback devices, but I'm not sure to be honest.

[2020-07-08 15:01] tay10r commented on #166
Closing this because it's a duplicate of #167. Please don't open the same issue twice!

[2020-07-08 15:01] #166 closed

[2020-07-19 16:47] E5ten opened #168 "tinymix: set volume with percentages and increments"
Would it be possible to add functionality to do things like:
`tinymix set <volume control> 50%`
and
`tinymix set <volume control> 5+`
and combinations of the two? that way instead of having to know the range for the volume to do things like binding volume keys to increase or decrease volume by e.g. 5%, one could just bind them to something like:
`tinymix set <volume control> 5%+` or the same with

[2020-07-19 17:09] tay10r commented on #168
Wouldn't the `+` or `-` make more sense at the beginning of the value?

[2020-07-19 17:20] tay10r commented on #168
I just pushed a completely untested commit for this. Please tell me if it works! Sorry, just got really busy and wasn't able to test it out.

[2020-07-19 18:48] E5ten commented on #168
It's not working for me, the issues are that when I use one of these characters at the beginning the volume just gets set to 0, % and - or + can't be used together (doing +%num gives "only enum types can be set with strings"), the % is at the beginning when it would make more sense at the end, and the reason for `+` or `-` being at the end, when like you said they'd make more sense at the beginnin

[2020-07-19 19:18] E5ten commented on #168
http://ix.io/2s62 this patch fixes some of the issues, for starters it switches `+` and `-` to be at the end instead of the beginning because of the problem with that I mentioned in the last comment, it also has `%` working correctly at the end (or 1 away from the end if there's a `+` or `-` following it), incrementing and decrementing still isn't working (`tinymix set <control> 10%-` just sets it

[2020-07-19 19:23] E5ten commented on #168
from what I can tell, the `has_sign` member isn't being used, after `out.value *= sign;` happens if `has_sign` is true `out.value` needs to be added to the original value so it modifies so it adds or subtracts instead of just being the new value.

[2020-07-19 19:30] tay10r commented on #168
I meant just `-` and `+` at the beginning. The percent sign should definitely stay at the end. Let me do some research and see how other programs usually do it, so I can try to make it consistent. It looks like `amixer` does it the way you mentioned, so I'm leaning towards doing it that way.

I'll revisit that code right now. I literally just checked if it compiled, so I'm not surprised if it had

[2020-07-19 19:35] E5ten commented on #168
http://ix.io/2s67 this seems to make it work completely, and I understood you meant having `%` at the end, it's just that the code wasn't working that way in some places (is_int checked for a leading '%', not a trailing one, so the `%` was left in `*end` and lead to is_int returning false)

[2020-07-19 19:35] E5ten commented on #168
Thanks for working on this so quickly by the way.

[2020-07-19 19:57] tay10r commented on #168
@E5ten Of course! I'm not sure how much longer I'll be the maintainer for this project, but I'd like to leave it for the next person it a somewhat maintainable state.

Out of curiosity, where is that patch coming from?

[2020-07-19 19:59] E5ten commented on #168
I made it.

[2020-07-19 20:01] tay10r commented on #168
Ah, okay neat. Just pushed a commit to fix the last one. It seems to be working. I'll leave this issue open for a bit in case there's any issues with it.

[2020-07-19 20:02] E5ten commented on #168
Sounds good, thanks for adding this, that was all I needed to switch from amixer to tinymix for my keybinds.

[2020-08-03 09:41] iDalink opened #170 "Issue "ioctl err" with Debian."
I test tinyalsa playing with Debian distribution.
My test command is `./tinyplay -d 0 friend.wav`.
And `ls /dev/snd` list files:

But I got an error with call `pcm->ops->ioctl(pcm->data, SNDRV_PCM_IOCTL_HW_PARAMS, &params)` in pcm_set_config, and  got errno 22.

I print `config` variable in ctx_init before pcm_open:

    printf("config channel:%d rate:%d perod:%dx%d formate:%d start:%d stop:%d sil

[2020-08-03 13:26] tay10r commented on #170
Okay, start by messing around with your config.

What is the output of `./tinypcmconfig`? You can to make sure, in particular, that your channels and your sampling rate are supported by the device.

[2020-08-04 02:23] iDalink commented on #170
Well, is `./tinypcmconfig` build output? Only four commands exist in `utils` directory without `./tinypcmconfig`.

[code]
`./tinypcminfo` output:
[code]

[2020-08-04 04:14] tay10r commented on #170
Sorry, I meant to write `tinypcminfo`. Did you get this fixed? Was the sampling rate the issue?

[2020-08-04 05:15] iDalink commented on #170
My audio file`s rate is 16000. It fit to audio card rate range `4000~48000`. I have none ideal about the issue.

[2020-08-04 05:44] tay10r commented on #170
Is there any other audio files that work? What happens when you capture data with `tinycap`? What is the audio format?

[2020-08-04 08:17] iDalink commented on #170
I used `ps` command to find out doubtful proccess. `Pulseaudio` is stopped definitely. Did not find doubtful proccess yet.

[2020-08-04 08:37] iDalink commented on #170
After messing try, I found only 48000 simple rate works fine.  It might be driver bug.

[2020-08-04 08:37] #170 closed

[2020-08-05 13:13] tay10r commented on #168
Closing this since there doesn't seem to be any issues with it.

[2020-08-05 13:13] #168 closed

[2020-08-05 13:13] #167 closed

[2020-08-05 13:16] tay10r commented on #154
Just bumped the version to 2.0.0. I'll make a tag/release for it as soon as I feel confident that it has binary compatibility with Google's copy of TinyALSA. It does have breaking changes from the last release though. As I mentioned before, the PCM format enumeration changed. There's also the additional requirement to link with `-ld`.

[2020-08-12 05:07] rohkkumar opened #171 "Bug in tinymix util"
For TLV mixer controls, tinymix adds TLV_HEADER_SIZE to the num_values and sets 0th and 1st element of tlv to
tlv[0] = 0;
tlv[1] = num_values;
before calling mixer_ctl_set_array().
https://github.com/tinyalsa/tinyalsa/blob/master/utils/tinymix.c#L281

However, mixer_ctl_set_array() also does the same thing
https://github.com/tinyalsa/tinyalsa/blob/master/src/mixer.c#L1088

This causes TLV header t

[2020-08-13 03:47] tay10r commented on #171
I think I agree with you but I want to look at it in a debugger before I say anything for certain.
When reviewing that code I found an additional issue in the mixer API that I should probaby address first.

[2020-08-18 03:59] rohkkumar commented on #171
@tay10r , Did you got a chance to look into the issue?

[2020-08-18 23:00] tay10r commented on #171
@rohkkumar Yes, I'm still looking into it. It looks like there might be a couple of other spots where the TLV gets counted twice. For instance, here: https://github.com/tinyalsa/tinyalsa/blob/fd59e16f1893d8b49b0fae421d09df7161b52616/src/mixer.c#L977 When it is clearly expected that the TLV is already accounted for at this line: https://github.com/tinyalsa/tinyalsa/blob/fd59e16f1893d8b49b0fae421d09

[2020-09-03 17:04] simonrules opened #175 "TLV_HEADER_SIZE is added to num_values in tinymix.c"
TLV_HEADER_SIZE is defined as 2 * sizeof(unsigned int), but in tinymix.c it is added to num_values, which is not a number of bytes.

In addition, TLV_HEADER_SIZE should be based on the actual tlv header size and not hard-coded as it is now.

[2020-09-04 03:48] tay10r commented on #175
I've assumed that only byte-sized mixer controls use TLVs, which would make `num_values` equal to the number of bytes. Was this a faulty assumption?

[2020-09-08 19:10] simonrules commented on #175
I think it's a fair assumption for bytes - though I didn't make the mental jump to connect the TLV_HEADER_SIZE with bytes only (where num_values == num_bytes). In any case, the TLV_HEADER_SIZE should definitely be based on the actual header size.

[2020-09-16 19:08] ericriff opened #179 "Release with cmake support"
Hi guys,

I'm looking into creating a conan recipe for tinyalsa. This would we way easier if it is built with CMake. Do you guys have an ETA for a release with cmake support?

Thanks!

[2020-09-21 16:54] simonrules commented on #175
This code has now been removed.

[2020-09-21 16:54] #175 closed

[2020-09-21 17:55] simonrules commented on #179
Check commit 1893950251319724fae9d5b090bccfbc2fbb38d4 - is this what you are looking for?

[2020-09-21 17:56] #171 closed

[2020-09-21 18:06] ericriff commented on #179
I'm asking for a new tag/release which supports CMake. I know that it is already on master.

[2020-09-22 08:36] leuenmat opened #184 "Suppressing error message at pcm_open"
By returning the pointer to bad_pcm, the previously set error message on pcm with oops(pcm...) is never readable. Calling pcm_get_error will always return an invalid value.

https://github.com/tinyalsa/tinyalsa/blob/16a6e7cd72298af7f1f842e99b3eba53f133c22c/src/pcm.c#L960

[2020-09-26 20:07] tay10r commented on #179
This is basically the same issue as #154. I've drafted a version 2.0.0 that I wanted to wait on releasing until I could tell if the plugin system is working on Android.

[2020-09-26 20:15] #179 closed

[2020-09-26 20:15] tay10r commented on #184
Agreed. I'm surprised that this wasn't realized sooner. I think the right course of action would be to always return the PCM pointer, so that the error information is available.

[2020-10-28 21:16] circinusX1 opened #187 "Android 9 pcm->ops->open fails"
Hi,
The

`     pcm->fd = pcm->ops->open(card, device, flags, &pcm->data, NULL);`

fails with errno 13' permission denied'. How do I fix this from user app.

Thank you.

[2020-11-02 02:34] dvdli commented on #187
Is your application a native application? You might root your device and disable SELinux (permissive mode) then running your app with the root permission.

[2020-11-02 16:05] circinusX1 commented on #187
Thank you.
I already did that. Is working now.

On Sun, Nov 1, 2020 at 9:34 PM dvdli <notifications@github.com> wrote:

[2020-11-02 16:05] #187 closed

[2020-11-03 07:45] dvdli commented on #152
We have added a check of the wave data size. Could you try this with the newest version again?

[2020-11-19 06:50] dvdli commented on #152
Please feel free to re-open this issue if there is any new problem. Thanks!

[2020-11-19 06:50] #152 closed

[2020-12-04 02:34] dvdli opened #193 "tinymix can't print right data when there are some controls with the same name"
mixer_get_ctl_by_name always returns the first control of controls with the same name. We use this function in tinymix to get the control. We should fix this by using tinymix_detail_control_by_name_or_id to specify the correct control.

[2020-12-09 07:04] #193 closed

[2020-12-29 02:23] MrChangMM opened #195 "Where to get this libsndcardparser.so"
I am porting to Android and found the following code：
static struct snd_node *snd_utils_open_dev_node(unsigned int card,
                                                unsigned int device,
                                                int dev_type)
{
    node->dl_hdl = dlopen("libsndcardparser.so", RTLD_NOW);
    if (!node->dl_hdl) {
        goto err_dl_open;
    }
}

but , i can't get this so

[2020-12-29 02:25] MrChangMM commented on #195
Hello, Who can answer this question,
Thanks a lot！

[2020-12-29 14:34] simonrules commented on #195
You should build without TINYALSA_USES_PLUGINS defined, then tinyalsa will not use the plugin architecture. The library you mentioned will be used at runtime only if the library is built with that define.

I think this could be documented better so I will file a bug.

[2020-12-29 14:36] simonrules opened #196 "Better documentation for TINYALSA_USES_PLUGINS"
When building tinyalsa, it's unclear where libsndcardparser.so can be found and what it is for. Building without the TINYALSA_USES_PLUGINS define makes it so this library is not needed but it's unclear why. We should document this better (probably in code), and consider not building src/snd_card_plugin.c at all if this define is not enabled.

[2020-12-29 14:36] #195 closed

[2020-12-29 14:39] simonrules commented on #195
You should build without TINYALSA_USES_PLUGINS defined, then tinyalsa will
not use the plugin architecture. The library you mentioned will be used at
runtime only if the library is built with that define.

I think this could be documented better so I will file a bug.

On Mon, 28 Dec 2020 at 19:25, MrChangMM <notifications@github.com> wrote:

[2020-12-30 05:13] MrChangMM commented on #196
I just want to enable plugin in tinyalsa, where can I get libsndcardparser.so when TINYALSA_USES_PLUGINS is turned on

[2020-12-30 05:13] MrChangMM commented on #196
I just want to enable plugin in tinyalsa, where can I get libsndcardparser.so when TINYALSA_USES_PLUGINS is turned on

[2020-12-30 05:25] tay10r commented on #196
Some (limited) info can be found at #136 and #137. I can't remember where exactly it was discussed, but the library was not made available to the public and unfortunately there is no example of how to implement one.

This was something I requested when the patch was made. I have some reservations on the plugin system and wanted a way to opt out of it. The way this ended up getting implemented was

[2020-12-30 15:05] simonrules commented on #196
Thanks for the info. IMO the lack of documentation for libsndcardparser.so, and lack of a default/skeleton/example for this library goes against the goals of tinyalsa. I can't seem to @dvdli (primary maintainer) so I'll reach out to him about this.

[2021-01-07 09:56] dvdli opened #197 "pcm_open returns bad_pcm if pcm_prepare fails"
In pcm_open in [pcm.c](https://github.com/tinyalsa/tinyalsa/blob/69b9891f995450be8dd8f24dbd39cf1d417fac61/src/pcm.c#L1100-L1102
), we returns the pointer of bad_pcm if pcm_prepare fails. This behavior may not be correct when opening dynamic PCM devices. ALSA SoC driver framework supports to open dynamic PCM devices without connecting them with any backend device. However, we have to connect them w

[2021-01-07 10:30] dvdli commented on #196
Thanks for pointing out the problem. We can realize parts of the ideas and behaviors of the plugin feature. However, for better understanding and avoiding misunderstanding, it would be good that the plugin feature contributors' help to provide more info of the plugins.

@gajare-codeaurora and @rohkkumar could you please help to give some examples of the usage of the plugins and shells of the plugi

[2021-01-07 10:46] MrChangMM commented on #196
@dvdli
Dear，
Do you consider how to manage when multiple plugins are loaded?

[2021-01-07 11:27] dvdli commented on #196
No.

It seems to support only one plugin library. However, it seems to support many cards and devices in one library.

[2021-01-11 11:18] rohkkumar commented on #196
Sure , I am working on sample plugin. I will upload the change soon.

[2021-01-11 11:21] rohkkumar commented on #196
Each card+device can have different plugin library. It depends on the library name libsndcardparser returns for that card/device combination. I will work on sample libsndcardparser and share.

[2021-01-12 07:34] dvdli commented on #196
Thanks a lot for sharing this with us.

Could you please also share some examples of pcm plugin and mixer plugin?

[2021-01-12 22:18] pasqualirb commented on #197
This seems to break compatibility with applications that rely on a prepared PCM for IO. Before prepare was done by pcm_open(), it was done [by pcm_writei()](https://github.com/tinyalsa/tinyalsa/blob/1.1.1/src/pcm.c#L691) and [by pcm_readi()](https://github.com/tinyalsa/tinyalsa/blob/1.1.1/src/pcm.c#L747) (indirectly via pcm_start()).

What about calling prepare in the error path of IO functions wh

[2021-01-14 20:04] Arjentix opened #199 "CMake building error"
I was trying to include tinyalsa in my **C++** project with **CMake**, but I've got this error message:

[code]

Also it seems like version.sh script works strange, so I am getting this warning message:

[code]

It may be important to mention that I am building on **Raspberry Pi**.

My CMakeLists.txt (cutting non relevant info):

[code]

[2021-01-15 00:13] pasqualirb commented on #199
In your environment, off_t is 32 bits. The constant SNDRV_PCM_MMAP_OFFSET_STATUS is equal to 2147483648 (0x80000000) which is greater than the positive limit of a signed 32 bits integer that is 2147483647 (0x7fffffff).

Add `#define _FILE_OFFSET_BITS 64` before any header files, or use `-D_FILE_OFFSET_BITS=64` option of gcc that you can specify in CMake by adding a line containing `add_compile_def

[2021-01-15 01:16] E5ten commented on #199
It might be worth adding that define to the various build systems given that without it the build either fails or isn't affected?

[2021-01-15 12:08] Arjentix commented on #199
Thi

This worked, thanks!

[2021-01-15 12:08] #199 closed

[2021-01-21 07:42] dvdli commented on #197
I agree with you. I'm thinking which solution is better for the applications which don't call the prepare function explicitly in their code.

In the previous design, tinyalsa library calls the prepare function in the read/write functions. It depends on the preparing flag's and the running flag's status. In the current design, the preparing flag and the running flag were removed and pcm_prepare is

[2021-02-08 08:12] Minecrell commented on #154
Thanks for making a new tag!

[2021-02-08 08:12] #154 closed

[2021-03-15 07:15] #197 closed

[2021-05-06 02:24] shenzhigang opened #204 "Can not list usb soundcard in raspberry pi."
`tinypcminfo` can not detect the external usb soundcard, while `arecord -l`  list correctly.

[code]

[2021-05-06 02:44] shenzhigang commented on #204
Sorry ,misunderstood the command.

[2021-05-06 02:44] #204 closed

[2021-05-17 04:07] dvdli opened #205 "pcm_state is not a public API"
pcm_state is not listed in pcm.h, but PCM_STATE_* are listed in pcm.h.

We have two ways to fix this issue.
1. Move PCM_STATE_ from pcm.h to pcm.c and mark pcm_state as a static function.
2. Add pcm_state to pcm.h

[2021-06-02 02:02] 13338606692 opened #207 "Consultation on the variable errno in "tinyalsa/pcm.c""
Variable errno in "tinyalsa/pcm.c" used many times, but did not find the relevant definition, can help explain. thanks!
e.g. in pcm_write:  return oops(pcm, errno, "invalid time stamp");

[2021-06-02 09:08] dvdli commented on #207
errno is not defined in the tinyalsa library. It is defined in the header file errno.h in the C standard library. It acts like an integer variable. Functions set an error number to it to let their callers know what errors they get. More info of errno can be found on [wikipedia](https://en.wikipedia.org/wiki/Errno.h).

[2021-06-02 09:41] 13338606692 commented on #207
thanks!

[2021-06-02 09:41] #207 closed

[2021-06-04 17:38] taitonext26 opened #209 "tinyplay the raw data"
If tinyplay the raw data(like as stdin), it will be failed due to header size is zero. It could have the checking to distinguish whether the current input data is raw or wave file then assign the each read_size before fread()?

thanks!

[2021-06-30 01:57] dvdli commented on #209
Thanks @taitonext26 for reporting this issue. We will fix it.

[2021-07-13 12:17] #209 closed

[2021-07-22 01:53] Sailfy opened #214 "Why tinyalsa use 10 times buffer size for capture case?"
https://github.com/tinyalsa/tinyalsa/blob/597934fc7c722bc2f9e1f933e1f03a9853159f93/src/pcm.c#L519

It will make alsa driver not do xrun in alsa core even though buffer has been overflowed.
For the accurate timestamp query case, the data will not corresponding to right timestamp at overflow timing.

[2021-07-22 01:56] tay10r commented on #214
This is just a default value, it can be changed to something lower by specifying a non-zero `stop_threshold`.

[2021-07-22 02:00] Sailfy commented on #214
@tay10r yes, we can make the stop_threshold to be non-zero, but I'm not sure why here use 10 buffer size as default value, as you know, alsa-lib use one buffer size, and the original tinyalsa version is also one buffer size.

[2021-07-22 02:11] tay10r commented on #214
@Sailfy it's just always been that way, since about [ten years ago](https://github.com/tinyalsa/tinyalsa/commit/350211381a270fc6f5e02d3a75cbf6bf99152ec8). I'm not entirely sure if anyone is relying on it being that way, so I will cast my vote for leaving it alone.

[2021-07-23 15:40] tinywrkb opened #215 "meson: missing public headers: attributes.h, plugin.h"
No PR as I'm not sure if this project allows pseudonyms contribution.
Also, I'm not really using tinyalsa, just trying to figure out if I can drop alsa-lib from my systems, so I haven't really tested if something else is missing/broken, but it's quite obvious that these headers should be installed.

[2021-07-26 16:21] tinywrkb commented on #215
@dvdli thanks for responding. PR was sent.

[2021-07-27 06:18] #215 closed

[2021-07-27 23:49] tay10r commented on #214
Closing this, since the question has been answered,

[2021-07-27 23:49] #214 closed

[2021-07-30 01:40] dvdli opened #217 "pcm_mmap_get_hw_ptr stores a wrong errno when the timestamp is zero"
`pcm_mmap_get_hw_ptr` stores `errno` when the timestamp is zero, but `errno` is not set by any called functions before the zero timestamp checking. Need to replace `errno` with a specific error code to avoid misleading.

[code]

[2021-11-15 14:40] toge opened #219 "tinyalsa 2.0.0: compilation error by strncpy"
When I try to build tinyalsa 2.0.0, I met compilation error followings:

[code]
It seem to be caused by 3rd arguments of strncpy.
gcc has check strictly since gcc 9.0. (I'm using gcc 11.2.)

How about decreasing 3rd argument value?
[code]

If this modification is admitted, I will create PR.

[2021-11-17 12:05] #219 closed

[2021-12-31 09:19] bactone opened #223 "tinycap get empty sound file?"
when i use tinycap to capture sound, i finally got an 0 frames file, I don't know why?

the configuration is give bellow:
[code]
to record sound , i run the command:
[code]

and results returned is:
[code]

does anyone have similar problem?

[2022-01-12 02:34] dvdli commented on #223
@bactone Could you please add some logs in tinycap to know the return values of pcm_readi?
I also found that there are some type mismatching issues in the code. I will fix those issues later.

[2022-01-20 14:12] philippludwig commented on #113
Any progress on this? I am trying to play anything with tinyalsa and all I can get are floating point exceptions. Example data or at least some information how a “frame“ is supposed to be created would be very helpful.

[2022-01-20 14:15] tay10r commented on #113
@philippludwig you can capture and playback audio files with the example, knowing they'll have the right format. If you have an existing WAV file that breaks the example, open an issue and include the file so we can reproduce the bug.

[2022-01-20 14:18] philippludwig commented on #113
@tay10r Capturing with the example does not work sadly, it just produces `failed to open PCM`.

My data is a raw signal, e.g. "1,2,3,4,3,2,1,....". I am upsampling this with libsamplerate and want to play this on a PCM device. Something similar worked with libao, but I can’t figure this out with tinyalsa. That is why a small example for e.g. playing a sine wave would be helpful.

[2022-01-20 14:22] tay10r commented on #113
@philippludwig open an issue and include the output of `tinypcminfo`. Having an existing WAV is a little complicated because there is no format conversion done to ensure that the audio from the WAV file can be played with the PCM. In the spirit of being a low level library, audio format conversions are left to the higher level abstractions.

[2022-06-23 13:13] mengyiliangcheng opened #229 "Next tag version plan"
Now more than a year has passed since the last tag 2.0.0. Do you have any plans to release the next tag?

[2022-08-02 06:52] fahime-ghasemi opened #231 "fatal error: 'linux/ioctl.h' file not found"
Hi
When I want to build the project with make I get  fatal error: 'linux/ioctl.h' file not found

[2022-08-02 10:00] fahime-ghasemi opened #232 "Is it possible to use tinyalsa to create an answering machine on android?"
I want to develop an app on android rooted device. I want to play a pre-recorded audio file for incoming and outgoing calls. Is it possible through tinyalsa?

[2022-08-03 05:05] fahime-ghasemi opened #233 "tinyplay Error playing sample"
I've used shell command to run tinyplay on a Samsung Galaxy A52 phone. when I run tinyplay /storage/emulated/0/test.wav  I got the following messages.

Playing sample: 1 ch, 22050 hz, 16 bit 132300 bytes
Error playing sample

them error message isn't meaningful. Could somebody help me to play this wav file?

[2022-08-03 05:07] fahime-ghasemi commented on #231
I found the reason of this issue. I was making on my Macbook. I used an ubuntu docker image for making and the problem resolved.

[2022-08-03 05:07] #231 closed

[2022-08-03 13:50] fahime-ghasemi opened #234 "How can I find tinymix configurations for recording a call?"
I want to use tinyalsa for recording a call. During the call mic should be muted. so I just need to record downlink sound. I know that before using tinycap I should use tinymix but I don't know how I can find the requirement tinymix configuration. I would be very thankful if somebody help me

[2022-08-07 12:21] fahime-ghasemi commented on #187
@circinusX1 Could you please explain how did you run the app with root permission? I have the same issue. I've developed an android app that uses tinylasa for open pcm. I get permission denied. My phone is rooted but I don't know how I can run my app with root permission.

[2022-08-08 07:51] fahime-ghasemi commented on #187
@circinusX1 @dvdli I've used setenforce 0 but it didn't work for me. My log is as follow

2022-08-08 12:17:41.017 9687-9687/com.example.hellojni I/hello-jni: cannot open device '/dev/snd/pcmC0D0c' 13
2022-08-08 12:17:41.017 9687-9687/com.example.hellojni I/hello-jni: pcm error 'cannot open device '/dev/snd/pcmC0D0c': Permission denied'
2022-08-08 12:17:41.017 9687-9687/com.example.hellojni I/fahi-

[2022-08-08 09:07] dvdli commented on #232
It depends on which device you are using. If the device provides PCM devices as the interfaces to play the stream to the uplink and downlink, you can try to use tinyalsa to play the stream.

[2022-08-08 09:23] dvdli commented on #233
Before you play audio streams on mobile devices, you need to setup codecs and ALSA paths first. Due to the difference among devices, the settings might be different. After setting up the codecs and ALSA paths, you can play the audio stream by tinyplay with a specific card and device where the audio stream goes.

[2022-08-08 09:27] fahime-ghasemi commented on #187
@dvdli Finally I had to use "chmod 777 -R /dev/snd" to resolve permission problem

[2022-08-08 11:04] fahime-ghasemi commented on #233
@dvdli Thanks for your response. For setting up the codecs and ALSA paths, should I use tinymix ?

[2022-08-09 09:57] fahime-ghasemi opened #235 "Can not prepare channel: Invalid argument"
This section in pcm.c returns error
`
    if (ioctl(pcm->fd, SNDRV_PCM_IOCTL_PREPARE) < 0) {
        return oops(pcm, errno, "cannot prepare channel");
}`

It says invalid argument. I've tested with channel set to 1 and 2 but both of them returns this error. I don't know if the number of channels is incorrect or something else. Could anyone help me?

[2022-08-09 11:05] dvdli commented on #235
Did you set up the path of the playback before call the pcm_prepare? If the PCM device is a dynamic-path device, you need to setup path before prepare.

[2022-08-10 02:33] dvdli commented on #233
Yes, you can set them up by tinymix.

[2022-08-10 02:36] dvdli commented on #229
We are refactoring and fixing some type and minor issues. The next tag will be released once those issues fixed.

[2022-08-28 11:17] fahime-ghasemi commented on #235
I don't know how I can find the requirement setups. I want to test it on Qualcomm chipsets. I would be thankful If you let me know any idea about finding the setups.

[2022-08-28 12:30] fahime-ghasemi commented on #235
I want to test capture with tinycap.c. I've added tinyalsa files to my android app and wrote the following code:

` frames = capture_sample(file, 0, 9, false,1,
                            48000, PCM_FORMAT_S16_LE,
                           1024, 4,3);`

According to your comment I guess I should use tinymix before calling this line of code. But I don't know for record a .wav file on Qualcomm chi

[2022-09-06 12:43] fahime-ghasemi opened #236 "cannot read/write stream data: Connection timed out"
Hello
I've written an android app that uses pcm_open, pcm_writei and pcm_close to play an .wav file. But pcm_writei returns "cannot read/write stream data: Connection timed out" error after some successful writes but before I finish my file bytes completely. I don't understand what's the reason of that. I don't have this issue with pcm_readi.
I've used this config

`  config.period_size = 1024;

[2022-09-06 14:46] #236 closed